@import '../sass/mixins';
* {
    margin: 0;
    padding: 0;
}

// ::selection {
//     background-color: $secondery-color;
//     color: $white;
// }
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
    transition: .3s ease;
    &:focus {
        outline: 0;
    }
}
.underline{
    font-weight: 600;
    text-decoration: underline;
    color: $primary-color;
    display: inline-block;
}
.form-control:focus {
    border-color: $border-color;
    outline: 0;
    box-shadow: none;
}
.text-primary{
    color: $primary-color !important;
}
.bg-primary-color{

    color: $primary-bg !important;
}
.bg-primary{
    background: $primary-bg !important;
}
.fild-bg{
    background: $fild-color;
}
.text-dark{
    color: $black !important;
}
.border-dotted-bottom{
    border-bottom: 2px dotted $border-color;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.icon-rounded{
    width: 48px;
min-width: 48px;
height: 48px;
display: flex;
justify-content: center;
align-items: center;
}
.min-rounded{
    width: 16px;
    min-width: 16px;
    height: 16px;
    min-height: 16px;
}
.cursor{
    cursor: pointer;
}
.dropdown-item.active, .dropdown-item:active {
    color: $primary-color !important;
    background-color: transparent !important;
    
}
.form-check-input:checked {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
}
.btn-primary {
    background-color: $primary-bg;
    color: $primary-color;
    border: $primary-bg;
    font-size: 16px;
    font-weight: 600;
    transition: all linear .3s;
    border-radius: 9999px;
    padding: 15px 17px;
    &:hover {
        background-color: $primary-bg-hover;
    color: $white;
    }
}
.btn-primary-border{
    background-color: transparent ;
    border:2px solid $primary-color !important;
}
.btn-danger{
    transition: all linear .3s;
    font-weight: 600;
}
.btn-danger-border{
    color: $danger-hover-color;
    background-color: transparent ;
    border:2px solid $danger-hover-color !important;

}
@include mobile{
    .btn-primary {
        font-size: 14px;
        padding: 8px 16px;
    }
}
.section {
    margin-top: 88px;
}

.main-content {
    width: 486px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.input,.select{
    height: 48px;
    padding: 0 10px;
    background: $fild-color;
    border-radius: 10px;
    border-color: $border-color;
    &::placeholder{
        background: $fild-color;

    }
}
.password {
    .eye-icon {
        right: 20px;
        top: 50%;
    }
}
.socal-icon{
    a{
        width: 33%;
        border: 1px solid $border-color;
        padding: 8px;
        border-radius: 9999px;
        text-align: center;
    }
}
@include mobile{
    .socal-icon a {
        padding: 0;

    }
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $deep-white;
    padding: 14px 0;
}

@include mobile {
    .section {
        margin-top: 40px;
    }
    .main-content {
        width: auto;
        padding: 0 20px;
    }
}

:focus-visible {
    outline: 0;
}

  
// select {
//     background: url('../images/bd.png')  no-repeat;
//     background-position: right 10px top 12px !important;
//     -moz-appearance: none;
//     -moz-appearance: none;
//     -webkit-appearance: none;
//     appearance: none;
//   }
  