//  Color Variables
$primary-color: #163300;
$primary-bg: #9DC9A1;
$primary-bg-hover: #163300;
$text-color: #454745;
$border-color: #d4d4d4;
$fild-color: #F6F6F6;
$box-color: #DBE0D8;
$white: #fff;
$black:#000000;
$deep-white: #F6F6F6;
$danger-hover-color:#bb2d3b;




// // Font Variables
$primary-font:'Inter',
sans-serif;