//  Color Variables
$primary-color: #163300;
$primary-bg: #9DC9A1;
// $secondery-color :#E8505B;
// $tertiary-color: #222222;
$text-color: #454745;
$border-color: #868685;
$fild-color: #F6F6F6;
// $second-border-color:#D7D7D7;
$white: #fff;
$deep-white: #F6F6F6;
// $input-text-color:#999999;
// $pagination-bg:#F4F4F4;
// // Font Variables
$primary-font:'Inter',
sans-serif;