@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  transition: 0.3s ease;
}
a:focus,
button:focus {
  outline: 0;
}

.form-control:focus {
  border-color: #868685;
  outline: 0;
  box-shadow: none;
}

.btn-primary {
  background-color: #9DC9A1;
  border: #9DC9A1;
  color: #163300;
  font-size: 16px;
  font-weight: 600;
  transition: all linear 0.3s;
  border-radius: 9999px;
  padding: 15px 17px;
}

.section {
  margin-top: 88px;
}

.main-content {
  width: 486px;
  margin: 0 auto;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F6F6F6;
  padding: 14px 0;
}

@media (max-width: 575.98px) {
  .section {
    margin-top: 40px;
  }
  .main-content {
    width: auto;
    padding: 0 20px;
  }
}
/*  typography */
body {
  font-family: "Inter", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h3,
.h3 {
  font-size: 26px;
  line-height: 31px;
  font-weight: 600;
  background-color: red;
}

.navigation {
  background-color: #F6F6F6;
  padding: 40px;
}
.navigation .nav-link {
  color: #163300;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}
.navigation .btn-primary {
  background-color: #F6F6F6;
  border: #F6F6F6;
  color: #163300;
  padding: 4px 17px;
}
.navigation .btn-primary:hover {
  background-color: #9DC9A1;
  border: #9DC9A1;
  color: #163300;
}