.dasboard{
    .card-main-content{
        .card-main-items {
            display: flex;
            align-items: center;
            .card-item{
                width: 50%;
            }
        }
    }
    .carddigital{
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 40px;
        .carddigital-item{
            order: 0;
        }
        .carddigital-item-two{
            order: 1;
        }
    
    }

    .freeze-card{
        position: relative;
        text-align: center;
      
    .icon-bg{
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(196, 193, 193, 0.767);
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
    }
    .card-details-transaction{
        display: flex;
        gap: 20px;
        
    }
}


@include mobile {
    .dasboard{
        .card-main-content{
            .card-main-items{
                flex-direction: column;
                .card-item{
                    width: 100%;
                }
            }
        }
    }  
    .carddigital{
        flex-direction: column;
        gap: 0;
        align-items: center !important;
        .carddigital-item{
            order: 1 !important;
        }
        .carddigital-item-two{
            order: 0 !important;
        }
    
    } 
    .card-details-transaction {
        justify-content: center;
        flex-wrap: wrap;
        .search-item{
           width: 100%;
       }
    }

}

@include tablet{
    .card-details-transaction {
        justify-content: center;
        flex-wrap: wrap;
        .search-item{
           width: 100%;
       }
    }
    .dasboard{
        .card-main-content{
            .card-main-items{
                flex-direction: column;
                .card-item{
                    width: 100%;
                }
            }
        }
    } 
  
}

@include desktop{
    .dasboard .card-details-transaction {
        gap: 5px;
    }
    .dasboard .card-details-transaction {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .dasboard{
        .card-main-content{
            .card-main-items{
                flex-direction: column;
                .card-item{
                    width: 100%;
                }
            }
        }
    } 
}
@include desktop-lg{
    .dasboard .card-details-transaction {
        
        gap: 7px;
    }

}
@include desktop-xl{
    .dasboard .dasboard-main-content {
        margin-right: 50px;
    }

}