.navigation {
    background-color: $deep-white;
    padding: 40px;
    .nav-link {
        // color: $primary-color;
        font-family: $primary-font;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
    }
    .btn-primary {
        background-color: $deep-white;
        border: $deep-white;
        color: $primary-color;
        padding: 4px 17px;
        &:hover {
            background-color: $primary-bg;
            border: $primary-bg;
            color: $primary-color;
        }
    }
}
.account-step-items{
    border-top: 2px solid $border-color;
    position: relative;
    &::after{
        position: absolute;
        left: 0;
        top: -1px;
        background-color: $primary-color;
        width: 100px;
        height: 2px;
        content: '';
    }
    &::before{
        position: absolute;
        left: 96px;
        top: -4px;
        background-color: $primary-color;
        width: 8px;
        height: 8px;
        content: "";
        z-index: 9;
        border-radius: 50%;
    }
  
}

.account-step-items-country{
    &::after{
        width: 190px;  
    }
    &::before{
        left: 185px;
    }
}

.account-step-items-otp{
    &::after{
        width: 242px;  
    }
    &::before{
        left: 235px;
    }  
}
.account-step-items-password{
    &::after{
        width: 100%;  
    }
    &::before{
        left: 100%;
    }  

}
.bar-section{
    display: none !important;
}


@include mobile{
    .navigation{
            padding: 15px;
    }
}




@include mobile{
    .bar-section{
        display: flex !important;
    }
    .top-nav{
        margin-top: 100px !important;
    }
    .dasboard {
        gap: 0;
    }
    
    .dasboard-navigation {
    padding: 20px !important;
    background-color:$fild-color;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    transform: translateX(-100%);
    transition: 0.3s;
    width: 250px;
    min-height: 100vh;
  }
  .navigation-open {
    transform: translateX(0);
  }
  .dasboard .navbar .navbar-brand {
    margin-bottom: 30px !important;
}
}


@include tablet {
    .dasboard .dasboard-navigation {
        padding: 60px 20px !important;
    }
}
@include desktop {
    .dasboard .dasboard-navigation {
        padding: 60px 20px !important;
    }
}
@include desktop-lg{
    .dasboard .dasboard-navigation {
        padding: 60px 40px !important;
    }

}