.dasboard{
    .recipient-nav{
        margin-bottom: 87px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        .active{
            font-weight: 600;
        }
        &::after{
            content: '';
            position: absolute;
            left: 20px;
            top: -10px;
            width: 90%;
            height: 4px;
            background-color: $border-color;
            border-radius: 8px;
        }

    }

    .recipent-items{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        .icons{
            position: relative;
            .img{
                width: 48px;
                height: 48px;
                background-color: $fild-color;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
             }
             .icon{
                width: 14px;
                height: 14px;
                position: absolute;
                right: 0;
                bottom: 0;
                img{
                    width: 100%;
                }
             }
             &::after{
                content: '';
                position: absolute;
                left: -4px;
                top: 50%;
                transform: translateY(-50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $white;
             }
        }
    }
    .btnk-details-nav-tab{
        .nav-link{
            border: 0;
            color: $text-color;
        }
        .nav-item{
            display: flex;
            justify-content: center;
            width: 50%;
        }
        .nav-link.active{
             width: 100%;
             color: $primary-color;
            border-bottom: 2px solid $primary-color;
        }
    }
    .transactiondetails-tab{
       .nav-item {
            display: flex;
            justify-content: start;
            width: auto;
        }
    }

    .transactiondetails-list{
        .icon{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                left: 3px;
                top:20px;
                width: 1px;
                height: 34px;
                background-color: $border-color;
            }
        }
    }
}
.successfully-manu{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    padding: 30px 60px !important;
    }
@include mobile{
    .successfully-manu {

        padding: 30px 30px !important;
    }
    .successfully-manu{
    flex-direction: column !important;
    }
    .successfully-manu img{
        margin-bottom: 20px;
    }
    .successfully-icon{
      width: 50%;
    }

}